{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-header bg-dark text-white">Login</div>
      <div class="card-body">
        <form method="POST">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password" required>
          </div>
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
        <div class="mt-3 text-center">
          <a href="{{ url_for('register') }}">Don’t have an account? Register as Customer</a><br>
          <a href="{{ url_for('admin_register') }}">Register as Admin</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
